<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.orthomcl.data.common.layout.load.mapper.GeneMapper">

	<resultMap type="Gene" id="GeneMap">
		<constructor>
      <idArg column="source_id" javaType="string" />
		</constructor>
    <result column="taxon_id" property="taxonId" />
	</resultMap>

  <resultMap type="GenePair" id="GenePairMap">
    <constructor>
      <idArg column="query_id" javaType="string" />
      <idArg column="subject_id" javaType="string" />
    </constructor>
  </resultMap>

  <resultMap type="BlastScore" id="BlastScoreMap" extends="GenePairMap">
    <constructor>
      <idArg column="query_id" javaType="string" />
      <idArg column="subject_id" javaType="string" />
    </constructor>
    <result column="evalue_mant" property="evalueMant" />
    <result column="evalue_exp" property="evalueExp" />
  </resultMap>

	<select id="selectGenes" parameterType="Group" resultMap="GeneMap">
    <![CDATA[
      SELECT eas.secondary_identifier AS source_id, eas.taxon_id
      FROM dots.ExternalAaSequence eas, apidb.OrthologGroupAaSequence ogs, apidb.OrthologGroup og
      WHERE eas.aa_sequence_id = ogs.aa_sequence_id
        AND og.ortholog_group_id = ogs.ortholog_group_id
        AND og.ortholog_group_id = #{id}
    ]]>
	</select>

  <select id="selectBlastScores" parameterType="Group" resultMap="BlastScoreMap" fetchSize="5000">
    <![CDATA[
      SELECT query_id, subject_id, evalue_mant, evalue_exp
      FROM apidb.SimilarSequencesGroupCore
      WHERE ortholog_group_id = #{id}
    ]]>
  </select>

  <!-- this query, in its current form, assumes that the ApiDB.SimilarSequences table contains ONLY intra-group similarities -->
  <!-- This is true for the SelfBlast table but not the Residuals table. Thus, MarkH modified the query --> 
  <select id="selectBlastScoresEx" parameterType="Group" resultMap="BlastScoreMap" fetchSize="5000">
    <![CDATA[
     SELECT query_id, subject_id, evalue_mant, evalue_exp
      FROM apidb.SimilarSequencesGroupCore
      WHERE ortholog_group_id = #{id}
    ]]>
  </select>
  
  <select id="selectOrthologs" parameterType="Group" resultMap="GenePairMap" fetchSize="5000">
    <![CDATA[
	     SELECT DISTINCT 
	            CASE WHEN ssgc.query_id > ssgc.subject_id THEN ssgc.query_id
		         ELSE ssgc.subject_id END AS query_id,
	            CASE WHEN ssgc.query_id > ssgc.subject_id THEN ssgc.subject_id
		         ELSE ssgc.query_id END AS subject_id
	     FROM apidb.OrthologCore og, apidb.SimilarSequencesGroupCore ssgc
	     WHERE ssgc.ortholog_group_id = #{id}
	           AND ((ssgc.query_id = og.sequence_id_a AND ssgc.subject_id = og.sequence_id_b)   
		       OR (ssgc.query_id = og.sequence_id_b AND ssgc.subject_id = og.sequence_id_a))
	     UNION
	     SELECT DISTINCT 
	            CASE WHEN ssgc.query_id > ssgc.subject_id THEN ssgc.query_id
		         ELSE ssgc.subject_id END AS query_id,
	            CASE WHEN ssgc.query_id > ssgc.subject_id THEN ssgc.subject_id
		         ELSE ssgc.query_id END AS subject_id
	     FROM apidb.OrthologResiduals og, apidb.SimilarSequencesGroupCore ssgc
	     WHERE ssgc.ortholog_group_id = #{id}
	           AND ((ssgc.query_id = og.sequence_id_a AND ssgc.subject_id = og.sequence_id_b)   
		       OR (ssgc.query_id = og.sequence_id_b AND ssgc.subject_id = og.sequence_id_a))
    ]]>
  </select>
  
  <select id="selectCoorthologs" parameterType="Group" resultMap="GenePairMap" fetchSize="5000">
    <![CDATA[
	     SELECT DISTINCT 
	            CASE WHEN ssgc.query_id > ssgc.subject_id THEN ssgc.query_id
		         ELSE ssgc.subject_id END AS query_id,
	            CASE WHEN ssgc.query_id > ssgc.subject_id THEN ssgc.subject_id
		         ELSE ssgc.query_id END AS subject_id
	     FROM apidb.CoOrthologCore og, apidb.SimilarSequencesGroupCore ssgc
	     WHERE ssgc.ortholog_group_id = #{id}
	           AND ((ssgc.query_id = og.sequence_id_a AND ssgc.subject_id = og.sequence_id_b)   
		       OR (ssgc.query_id = og.sequence_id_b AND ssgc.subject_id = og.sequence_id_a))
	     UNION
	     SELECT DISTINCT 
	            CASE WHEN ssgc.query_id > ssgc.subject_id THEN ssgc.query_id
		         ELSE ssgc.subject_id END AS query_id,
	            CASE WHEN ssgc.query_id > ssgc.subject_id THEN ssgc.subject_id
		         ELSE ssgc.query_id END AS subject_id
	     FROM apidb.CoOrthologResiduals og, apidb.SimilarSequencesGroupCore ssgc
	     WHERE ssgc.ortholog_group_id = #{id}
	           AND ((ssgc.query_id = og.sequence_id_a AND ssgc.subject_id = og.sequence_id_b)   
		       OR (ssgc.query_id = og.sequence_id_b AND ssgc.subject_id = og.sequence_id_a))
    ]]>
  </select>
  
  <select id="selectInparalogs" parameterType="Group" resultMap="GenePairMap" fetchSize="5000">
    <![CDATA[
	     SELECT DISTINCT 
	            CASE WHEN ssgc.query_id > ssgc.subject_id THEN ssgc.query_id
		         ELSE ssgc.subject_id END AS query_id,
	            CASE WHEN ssgc.query_id > ssgc.subject_id THEN ssgc.subject_id
		         ELSE ssgc.query_id END AS subject_id
	     FROM apidb.InparalogCore og, apidb.SimilarSequencesGroupCore ssgc
	     WHERE ssgc.ortholog_group_id = #{id}
	           AND ((ssgc.query_id = og.sequence_id_a AND ssgc.subject_id = og.sequence_id_b)   
		       OR (ssgc.query_id = og.sequence_id_b AND ssgc.subject_id = og.sequence_id_a))
	     UNION
	     SELECT DISTINCT 
	            CASE WHEN ssgc.query_id > ssgc.subject_id THEN ssgc.query_id
		         ELSE ssgc.subject_id END AS query_id,
	            CASE WHEN ssgc.query_id > ssgc.subject_id THEN ssgc.subject_id
		         ELSE ssgc.query_id END AS subject_id
	     FROM apidb.InparalogResiduals og, apidb.SimilarSequencesGroupCore ssgc
	     WHERE ssgc.ortholog_group_id = #{id}
	           AND ((ssgc.query_id = og.sequence_id_a AND ssgc.subject_id = og.sequence_id_b)   
		       OR (ssgc.query_id = og.sequence_id_b AND ssgc.subject_id = og.sequence_id_a))
    ]]>
  </select>

  <select id="selectPeripheralCore" parameterType="Group" resultMap="GenePairMap" fetchSize="5000">
    <![CDATA[
	     SELECT DISTINCT 
	            CASE WHEN query_id > subject_id THEN query_id ELSE subject_id END AS query_id,
		    CASE WHEN query_id > subject_id THEN subject_id ELSE query_id END AS subject_id
             FROM apidb.SimilarSequencesGroupCore                                                        
	     WHERE ortholog_group_id = #{id}
	           AND ((query_core_peripheral='C' AND subject_core_peripheral='P')   
		   OR (query_core_peripheral='P' AND subject_core_peripheral='C'))
    ]]>
  </select>

  <select id="selectPeripheralPeripheral" parameterType="Group" resultMap="GenePairMap" fetchSize="5000">
    <![CDATA[
	     SELECT DISTINCT
	            CASE WHEN query_id > subject_id THEN query_id ELSE subject_id END AS query_id,
		    CASE WHEN query_id > subject_id THEN subject_id ELSE query_id END AS subject_id
	     FROM apidb.SimilarSequencesGroupCore
	     WHERE ortholog_group_id = #{id} AND query_core_peripheral='P' AND subject_core_peripheral='P'
    ]]>
  </select>

</mapper>
