<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.orthomcl.data.common.layout.load.mapper.GeneMapper">

	<resultMap type="Gene" id="GeneMap">
		<constructor>
      <idArg column="source_id" javaType="string" />
		</constructor>
    <result column="taxon_id" property="taxonId" />
	</resultMap>

  <resultMap type="GenePair" id="GenePairMap">
    <constructor>
      <idArg column="query_id" javaType="string" />
      <idArg column="subject_id" javaType="string" />
    </constructor>
  </resultMap>

  <resultMap type="BlastScore" id="BlastScoreMap" extends="GenePairMap">
    <constructor>
      <idArg column="query_id" javaType="string" />
      <idArg column="subject_id" javaType="string" />
    </constructor>
    <result column="evalue_mant" property="evalueMant" />
    <result column="evalue_exp" property="evalueExp" />
  </resultMap>

	<select id="selectGenes" parameterType="Group" resultMap="GeneMap">
    <![CDATA[
      SELECT eas.secondary_identifier AS source_id, eas.taxon_id
      FROM dots.ExternalAaSequence eas, apidb.OrthologGroupAaSequence ogs, apidb.OrthologGroup og
      WHERE eas.aa_sequence_id = ogs.aa_sequence_id
        AND og.ortholog_group_id = ogs.ortholog_group_id
        AND og.ortholog_group_id = #{id}
    ]]>
	</select>

  <select id="selectBlastScores" parameterType="Group" resultMap="BlastScoreMap" fetchSize="5000">
    <![CDATA[
      WITH proteins AS (SELECT eas.secondary_identifier AS source_id
                        FROM dots.ExternalAaSequence eas, apidb.OrthologGroupAaSequence ogs, apidb.OrthologGroup og
                        WHERE eas.aa_sequence_id = ogs.aa_sequence_id
			    AND og.ortholog_group_id = ogs.ortholog_group_id
                            AND og.ortholog_group_id = #{id} )
      SELECT query_id, subject_id, evalue_mant, evalue_exp
      FROM apidb.SimilarSequencesSelfBlast
      WHERE query_id IN (SELECT source_id FROM proteins)
        AND subject_id IN (SELECT source_id FROM proteins)
      UNION
      SELECT query_id, subject_id, evalue_mant, evalue_exp
      FROM apidb.SimilarSequencesResiduals
      WHERE query_id IN (SELECT source_id FROM proteins)
        AND subject_id IN (SELECT source_id FROM proteins)
    ]]>
  </select>

  <!-- this query, in its current form, assumes that the ApiDB.SimilarSequences table contains ONLY intra-group similarities -->
  <!-- This is true for the SelfBlast table but not the Residuals table. Thus, MarkH modified the query --> 
  <select id="selectBlastScoresEx" parameterType="Group" resultMap="BlastScoreMap" fetchSize="5000">
    <![CDATA[
      SELECT query_id, subject_id, evalue_mant, evalue_exp
      FROM apidb.orthologgroupaasequence o, dots.externalaasequence e, apidb.similarsequencesSelfBlast s, apidb.orthologgroup og
      WHERE og.ortholog_group_id = #{id}
        AND og.ortholog_group_id = o.ortholog_group_id
        AND e.aa_sequence_id = o.aa_sequence_id
        AND e.secondary_identifier = s.query_id
      UNION
      WITH proteins AS (SELECT eas.secondary_identifier AS source_id
                        FROM dots.ExternalAaSequence eas, apidb.OrthologGroupAaSequence ogs, apidb.OrthologGroup og
                        WHERE eas.aa_sequence_id = ogs.aa_sequence_id
			    AND og.ortholog_group_id = ogs.ortholog_group_id
                            AND og.ortholog_group_id = #{id} )
      SELECT query_id, subject_id, evalue_mant, evalue_exp
      FROM apidb.SimilarSequencesResiduals
      WHERE query_id IN (SELECT source_id FROM proteins)
        AND subject_id IN (SELECT source_id FROM proteins)
    ]]>
  </select>
  
  <select id="selectOrthologs" parameterType="Group" resultMap="GenePairMap" fetchSize="5000">
    <![CDATA[
      WITH sequences AS (SELECT eas.secondary_identifier AS source_id
                         FROM dots.ExternalAaSequence eas, apidb.OrthologGroupAaSequence ogs
                          WHERE eas.aa_sequence_id = ogs.aa_sequence_id
                            AND ogs.ortholog_group_id = #{id})
      SELECT sequence_id_a AS query_id, sequence_id_b AS subject_id
      FROM apidb.OrthologCore
      WHERE sequence_id_a IN (SELECT source_id FROM sequences)
        AND sequence_id_b IN (SELECT source_id FROM sequences)
      UNION
      SELECT sequence_id_a AS query_id, sequence_id_b AS subject_id
      FROM apidb.OrthologResiduals
      WHERE sequence_id_a IN (SELECT source_id FROM sequences)
        AND sequence_id_b IN (SELECT source_id FROM sequences)
    ]]>
  </select>
  
  <select id="selectCoorthologs" parameterType="Group" resultMap="GenePairMap" fetchSize="5000">
    <![CDATA[
      WITH sequences AS (SELECT eas.secondary_identifier AS source_id
                         FROM dots.ExternalAaSequence eas, apidb.OrthologGroupAaSequence ogs
                          WHERE eas.aa_sequence_id = ogs.aa_sequence_id
                            AND ogs.ortholog_group_id = #{id})
      SELECT sequence_id_a AS query_id, sequence_id_b AS subject_id
      FROM apidb.CoorthologCore
      WHERE sequence_id_a IN (SELECT source_id FROM sequences)
        AND sequence_id_b IN (SELECT source_id FROM sequences)
      UNION
      SELECT sequence_id_a AS query_id, sequence_id_b AS subject_id
      FROM apidb.CoorthologResiduals
      WHERE sequence_id_a IN (SELECT source_id FROM sequences)
        AND sequence_id_b IN (SELECT source_id FROM sequences)
    ]]>
  </select>
  
  <select id="selectInparalogs" parameterType="Group" resultMap="GenePairMap" fetchSize="5000">
    <![CDATA[
      WITH sequences AS (SELECT eas.secondary_identifier AS source_id
                         FROM dots.ExternalAaSequence eas, apidb.OrthologGroupAaSequence ogs
                          WHERE eas.aa_sequence_id = ogs.aa_sequence_id
                            AND ogs.ortholog_group_id = #{id})
      SELECT sequence_id_a AS query_id, sequence_id_b AS subject_id
      FROM apidb.InparalogCore
      WHERE sequence_id_a IN (SELECT source_id FROM sequences)
        AND sequence_id_b IN (SELECT source_id FROM sequences)
      UNION
      SELECT sequence_id_a AS query_id, sequence_id_b AS subject_id
      FROM apidb.InparalogResiduals
      WHERE sequence_id_a IN (SELECT source_id FROM sequences)
        AND sequence_id_b IN (SELECT source_id FROM sequences)
    ]]>
  </select>

  <select id="selectPeripheralCore" parameterType="Group" resultMap="GenePairMap" fetchSize="5000">
    <![CDATA[
	     WITH coreProteins AS ( SELECT eas.secondary_identifier AS query_id
	                            FROM dots.ExternalAaSequence eas
                                        , apidb.OrthologGroupAaSequence ogs
					, apidb.OrthomclTaxon ot
                                    WHERE eas.aa_sequence_id = ogs.aa_sequence_id 
				         AND ogs.ortholog_group_id = #{id}
					 AND substr(eas.secondary_identifier,1,4) = ot.three_letter_abbrev
					 AND ot.core_peripheral = 'C' ),  
                  peripheralProteins AS ( SELECT eas.secondary_identifier AS subject_id
                                          FROM dots.ExternalAaSequence eas
					       , apidb.OrthologGroupAaSequence ogs
					       , apidb.OrthomclTaxon ot
					  WHERE eas.aa_sequence_id = ogs.aa_sequence_id
					       AND ogs.ortholog_group_id = #{id}
					       AND substr(eas.secondary_identifier,1,4) = ot.three_letter_abbrev
					       AND ot.core_peripheral = 'P' )  
             SELECT query_id, subject_id
	     FROM coreProteins, peripheralProteins
    ]]>
  </select>

</mapper>
