#####################################
# properties file for toxo pipeline

#stopBefore=extTgondiiAnnotatedProteins-nrBlastIds
commit = ""

myPipelineName =primary

genusNickname=orthomcl

#speciesNickname=Tgondii

#ncbiTaxId=Tgondii:5811  

projectDir=/files/cbil/data/cbil/orthoMCL

nodeClass=DJob::DistribJob::PbsNode

blastsimilarity.taskSize=1                                                                                                      
testNextPlugin = false

firstName = Jerric

lastName = Gao

release = 2.0

projectRelease = 2.0

projectName = OrthoMCL

projectDB = OrthoMCL

downloadUser = xingao

downloadServer = delphi.pcbi.upenn.edu

###########################################################
# step specific properties
###########################################################

cap4Dir = /files/cbil/software/cap4/current/bin

genome.path = /genomics/share/bin/

genome.taskSize = 150

repeatmask.taskSize = 150

repeatmask.path = /genomics/share/src/bio/RepeatMasker/latest

repeatmask.options = -species Toxoplasma

repeatmask.dangleMax = 30

nodePort = 5550

wuBlastBinPathCluster=/genomics/share/pkg/bio/wu-blast/current                  
wuBlastPath = /files/cbil/software/wu-blast2/current

blastzPath = /files/cbil/software/blastz/bin/

ncbiBlastPath = /files/software/pkg/ncbi-blast-2.2.13/bin                                                                             
# pipelineDir will be buildDir/release/analysis_pipeline

# FQDN or none
clusterServer = alpha.genomics.liniac.upenn.edu

# login for cluster
clusterUser = xingao

# pre-existing dir on cluster where pipeline dir will be copied to
clusterProjectDir=/genomics/binf/scratch/orthoMCL

# location of DistribJob temp node directories
nodePath=/scratch/user/$ENV{USER}

gusConfigFile = $ENV{HOME}/develop/trunk/gus_home/config/gus.config

chromDbName=T. gondii chroms

chromDbRlsVer=2003-08-13

nrdbDbName=NRDB

nrdbDbRlsVer=2007-01-12

contact = Jerric,Gao

tmhmm.path = /files/cbil/software/TMHMM/current/bin/tmhmm

tmhmm.version = 2.0a

signalP.path = /files/cbil/software/signalp/current/signalp

signalP.version = 3.0

exportpredPath = /home/amackey/bin

trfPath = /files/cbil/software/TRF/bin

splignPath = /files/cbil/software/splign

psipredPath = /files/software/psipred/bin

psipred.taskSize = 1

psipred.clusterpath = /genomics/share/src/bio/psipred/current

psipred.ncbibin = /genomics/share/src/bio/ncbi/bin

trnascan.taskSize = 1

trnascan.clusterpath = /genomics/share/bin

mummerDir = /files/cbil/software/MUMmer/

dbestConnect = dbi:Oracle:orthomcl

dbestLogin = jerric

dbestPswd = bdomsalp

vectorFile = /files/cbil/data/thirdparty/repeat/vector/download_7.14.03/vector

phrapDir = /files/cbil/software/phrap/current

iprscan.goversion=Gene Ontology^4.162
