pipelineDir=/files/cbil/data/cbil/amitoDB/1.0/resources_pipeline/primary
downloadDir=/files/cbil/data/cbil/amitoDB/1.0/resources_pipeline/primary/downloads
manualDelivery=/files/cbil/data/cbil/amitoDB/manualDelivery
#gusHome=/home/jldommer/gusAmito/gus_home
gusHome=/home/pinney/gusApps/amitobld/gus_home

#stopBefore=load_T.vaginalis_Annotation_2007-01-11

#firstName=Jennifer
#lastName=Dommer
firstName=Deborah
lastName=Pinney
projectRelease=AmitoDB:1.0

#commit=--nocommit
#dbcommit=--nocommit
commit=--commit
dbcommit=--commit

taxonomy.restart=1

#InterproscanDataConfigFile=config/interpro-config-plasmodb.xml

project_name=AmitoDB

dbestLogin=pinney
dbestPswd=Xtn34o
dbest.dblink=plasmobldToDbest
dbest.restart=1

soVer=1.67

